In [1]:
import pandas as pd

# 1. Read and Save

### a. Dataframe and csv file

In [ ]:
pd.read_csv(file)
pd.read_excel(file)
df.to_csv(file, index=False)

### b. From string to dataframe

In [ ]:
from io import StringIO

TESTDATA = StringIO("""col1;col2;col3
    1;4.4;99
    2;4.5;200
    3;4.7;65
    4;3.2;140
    """)

df = pd.read_csv(TESTDATA, sep=";")

### c. Dictionary and dataframe

In [ ]:
# dictionary to dataframe
df = pd.DataFrame.from_dict({'col_1': [0,1], 'col_2': ['a', 'b']})

In [ ]:
# dataframe to dictionary records
list_dict = df.to_dict(orient='records')

### d. List of json to Dataframe

In [ ]:
# from list of string, where each string is json/dictionary like object
import json
with open(infile) as f:
    content = f.readlines()

# use lambda and map to convert each line to json
list_json = map(lambda x: json.loads(x), data)

# convert map object to list
df = pd.DataFrame(list(list_json))

### e. List of list to Dataframe

In [ ]:
data = [['Geeks', 10], ['for', 15], ['geeks', 20]]   
df = pd.DataFrame(data, columns = ['Name', 'Age'])

# 2. Missing values

In [ ]:
# remove records that has nan for some columns
df = df[df['col_name'].notna()]

In [ ]:
# replace na with 0 for a column
df['col_name'] = df['col_name'].fillna(0)

# or whole df
df.fillna(0)

In [ ]:
# view records with nan in col2
df[df['col_name'].isnull()]

# view without nan
df[df['col_name'].notnull()]

# 3. Select and Update

### a. Select on conditions

In [ ]:
# select based on AND(&) or OR (|) conditions
# optional: reset index
df[(df.batch =='Home0405') & (df.y_predicted == 'lifestyle') ].reset_index(drop=True)

# negate the previous and condition
df[~((df.batch =='Home0405') & (df.y_predicted == 'lifestyle'))]

### b. Iterrate dataframe

In [ ]:
# iterrate dataframe
for index, row in data_df.iterrows():
    row['batch']

### c. Update column values on condition

In [ ]:
df.loc[df['batch']=='Home04&5', 'batch'] = 'Home0405'

### d. Create new columns using apply function

In [ ]:
# create new column based on existing columns
df['img_name'] = df.apply(lambda row:
                          row['productId'] + "_" + row['url'].split('.')[-2][-3:] + ".jpg",
                          axis=1)

# use if else condition to assign different values 
df['score_rating'] = df.apply(lambda row: 3 if row['score'] >0.9 else 
                              (2 if row['score'] > 0.8 else 1), axis =1)


# combine two list in two columns, also checking secondaryURL is indeed non empty / list
df['assetUrls'] = df.apply(lambda row:
                          row['primaryURL'] + row['secondaryURL'] if isinstance(row['secondaryURL'], list) else row['primaryURL'],
                          axis=1)

### e. drop columns

In [ ]:
df.drop(columns=['B', 'C'], inplace = True)

# 4. Group By

### a. Group by and aggregate

In [ ]:
# one example of applying different agg functions on different columns
df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

In [ ]:
# df
#    A   B   C
# 0  1  10  22
# 1  1  12  20
# ...

# groupby by A and have unique value in rest of the columns as a list
df2 = df.groupby('A').aggregate(lambda tdf: tdf.unique().tolist())

# df2
#               B                C
# A                               
# 1  [10, 12, 11]  [22, 20, 8, 10]
# 2      [11, 12]         [13, 10]
# ...

### b. Group by and filter

In [ ]:
# groupby and then filter the original df
grouped = df.groupby('A')

# keep the records if the group has a B mean above 3
grouped.filter(lambda x: x['B'].mean() > 3.)
# keep the records if the group has at least 2 unique values in column b.
grouped.filter(lambda x: x['B'].nunique() > 1)

### c. Group by and apply

In [ ]:
# select 20% of images for each productype and label if there are at least 5 images
# pick one image if there are at least 2
# if there's only one image, 50% chance will be labeled as test
index = final_df.reset_index().groupby(["productType", "label"]).\
        apply(lambda x: x.sample( int(round(0.20*len(x), 0))) if len(x)>=5 else (
        x.sample(1) if len(x)>1 else (
        x if random.random()>=0.5 else None)) )['index'].reset_index(level=[0, 1])['index'].values

final_df['train_or_test'] = ["test" if x in index else "train" for (x, row) in final_df.iterrows()]

In [ ]:
# select rows where B is max value in each group when grouped by A 
df.groupby('A').apply(lambda x: x[x.B == x.B.max()]).reset_index(drop=True)

### d. Select dataframe from group by & transform

In [ ]:
dfls = df[df['overral_raing'] == df.groupby('itemId')['overral_raing'].transform('max')]

# 5. Reshape Wide Dataframe to Long

### a. the individual value is in additional columns

In [3]:
df = pd.read_excel("data/crowd/Batch11_DS_Imagery_Retagging 3542 lifestyle clusters in Home_Output_final.xlsx")
df.head(2)

,S.no,Batch,majority PT,imageurl_1,imageurl_2,imageurl_3,imageurl_4,imageurl_5,Final Decision,Number of images in cluster,Number of matching images,Incorrect Image URLS,Incorrect Image Number,Image URL Number unrelated to the Home Category,Image URLs unrelated to the Home Category,Comments
0,1,1,Hammock Chairs,https://i5.walmartimages.com/asr/f595ac7d-591d...,https://i5.walmartimages.com/asr/bb16a459-cb5d...,https://i5.walmartimages.com/asr/b3f75037-e629...,https://i5.walmartimages.com/asr/b7292205-92e0...,https://i5.walmartimages.com/asr/9278b1bf-0ff3...,lifestyle,5,5,NaN,NaN,NaN,NaN,NaN
1,2,1,Hammock Chairs,https://i5.walmartimages.com/asr/ccaab6a1-cd31...,https://i5.walmartimages.com/asr/03818751-4ffb...,https://i5.walmartimages.com/asr/15f0522d-22ba...,https://i5.walmartimages.com/asr/e7d169b8-54a9...,https://i5.walmartimages.com/asr/b163f289-256a...,lifestyle,5,5,NaN,NaN,NaN,NaN,NaN

In [11]:
df_reshaped = pd.melt(df[["Batch", "imageurl_1", "imageurl_2", "imageurl_3", "imageurl_4", "imageurl_5", "Final Decision"]], 
                      id_vars=["Batch", "Final Decision"], var_name='imageurl', value_name='url').\
                        drop(['imageurl'], axis=1).rename(columns={"Final Decision": "label", "Batch":"batch"})
df_reshaped.head(2)

  batch      label                                                url
0     1  lifestyle  https://i5.walmartimages.com/asr/f595ac7d-591d...
1     1  lifestyle  https://i5.walmartimages.com/asr/ccaab6a1-cd31...

### b. The values are in one column in form of a list

In [ ]:
expand_col = 'assetURLs'
import numpy as np
newDF = pd.DataFrame({
      col:np.repeat(df[col].values, df[expand_col].str.len())
      for col in df.columns.drop(expand_col)}
    ).assign(**{expand_col:np.concatenate(df[expand_col].values)})[df.columns]

newDF = newDF.rename(columns={"assetUrls": "assetURL"})

# 5. Check duplicates

In [13]:
# display all duplicates for keep=False, nothing is kept
df_reshaped = df_reshaped[df_reshaped['url'].notnull()]
df_reshaped[df_reshaped.duplicated(subset=['url'], keep=False)]

      batch      label                                                url
1067      3  lifestyle  http://i5.walmartimages.com/asr/ab119ce9-ef4e-...
2901      7  lifestyle  https://i5.walmartimages.com/asr/43c96f60-fc05...
4609      3  lifestyle  http://i5.walmartimages.com/asr/506f561b-c9c5-...
6443      7  lifestyle  https://i5.walmartimages.com/asr/43c96f60-fc05...
8151      3  lifestyle  http://i5.walmartimages.com/asr/ab119ce9-ef4e-...
9985      7  lifestyle  https://i5.walmartimages.com/asr/0114951b-49d3...
11693     3  lifestyle  http://i5.walmartimages.com/asr/506f561b-c9c5-...
13527     7  lifestyle  https://i5.walmartimages.com/asr/0114951b-49d3...

In [14]:
# These are the same rows that you are going to remove if using the same keep option
df_reshaped[df_reshaped.duplicated(subset=['url'], keep='first')]

      batch      label                                                url
6443      7  lifestyle  https://i5.walmartimages.com/asr/43c96f60-fc05...
8151      3  lifestyle  http://i5.walmartimages.com/asr/ab119ce9-ef4e-...
11693     3  lifestyle  http://i5.walmartimages.com/asr/506f561b-c9c5-...
13527     7  lifestyle  https://i5.walmartimages.com/asr/0114951b-49d3...

In [7]:
# keep the first duplicated records
df_unique = df_reshaped.drop_duplicates(subset=None, keep='first', inplace=False)

In [ ]:
# keep the majority label if duplicated
df_unique = df_reshaped.groupby("url").agg(lambda x: x.value_counts().index[0]).reset_index()

# 6. Append and join

### a. Append

In [ ]:
frames = [data1, data2]
df = pd.concat(frames, ignore_index=True, sort=False)

### b. Join two dataframes

In [ ]:
df_merged = pd.merge(df_left, 
                    df_right,
                    on='url', how='left')